*{
  padding: 0;
  margin: 0;
}
.dark{
  background: #000000c6;
}
.light{
  background: #fff;
  /* border: 1px solid green; */
}
.light_txt{
  color: #333;
}
.light_main{
  color: #333;
}
.dark_txt{
  color: #fff;
}
.dark_main{
  color: #fff;
  background: #000000c6;
}
.main{
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.nav{
  max-width: 1920px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 3px 8px 1px black;
  margin:  0 auto;
}
.light .nic{
  color: #000;
}
.dark .nic{
  color: #fff;
}
.nav nav{
  display: flex;
  gap: 70px;
}
.center{
  
  padding: J5px 10px;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
}
.light_center{
  background: #333;
  color: #fff;
}
.dark_center{
  background: #fff;
  color: #333;
}
::-webkit-scrollbar{
  display: none;
}
.center form{
  width: 95%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center form input{
  width: 265px;
  height: 35px;
  padding: 0 5px;
  font-size: 16px;
}
.ul__list{
  /* border: 1px solid; */
  width: 95%;
  height: 85%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.li__item{
  border-bottom: 1px solid;
  padding: 10px 5px;
  /* color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.li__item b{
  font-weight: 400;
}
.li__item span{
  display: flex;
  gap: 5px;
}
.li__item span button{
  height: 35px;
  padding: 5px 10px;
  font-weight: 400;
  text-transform: capitalize;
}
.btn__green:hover{
  background: green;
}
.btn__red:hover{
  background: red;
}

.sign_main{
  max-width: 1920px;
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.sign_main_center{
  /* border: 1px solid red; */
  border-radius: 12px;
  overflow: hidden;
  width: 70%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0px 8px 0px black;
}
.dark_bg{
  background: url(../public/image.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.light_bg{
  background: url(../public/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right__main{
  /* border: 1px solid red; */
  width: 75%;
  height: 75%;
  padding: 25px 5px;
  display: flex;
  flex-direction: column;
}
.right__main h1{
  font-size: 36px;
}
.dark .right__main h1{
  color: #fff;
}
.light .right__main h1{
  color: #000;
}
.right__main h3{
  font-size: 22px;
  font-weight: 500;
}
.dark .right__main h3{
  color: #fff;
}
.light .right__main h3{
  color: #000;
}
.right__main form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px 0 0 0;
  /* border: 1px solid; */
  width: 100%;
  height: 75%;
}
.right__main .inp{
  height: 50px;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  width: 90%;
  font-size: 16px;
  padding: 0px 10px;
}
.right__main form label{
  /* font-family: Roboto; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 0;
}
.dark .right__main form{
  color: #fff;
}
.light .right__main form{
  color: #000;
}
.rmf{
  display: flex;
  /* border: 1px solid #000; */
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}
.rmf span{
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  width: 50%;
  padding: 0 10px;
}
.btn_log{
  border-radius: 5px;
  background: #04C35C;
  color: #fff;
}
.btn_gg{
  border-radius: 5px;
  background: #2D3748;
  color: #fff;
}
.dark .free{
  color: #fff;
}
.light .free{
  color: #000;
}
.btn{
  display: flex;
  gap: 35px;
}

.subc_log{
  /* border: 1px solid; */
  max-width: 1920px;
  height: 90vh;
  margin: 0 auto;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.light__log{
  color: #000;
  background: #fff;
}
.dark__log{
  color: #fff;
  background: #000000c6;
}
.dark__lg{
  color: #fff;
  background: #00000000;
}
.next{
  width: 90%;
}
.log_center{
  width: 90%;
  height: 90%;
  box-shadow: 0 0 10px 0 #000000c6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.log_center form{
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.log_center form input{
  font-size: 18px;
  font-weight: 400;
  height: 45px;
  padding: 5px 10px 5px 20px;
  outline: none;
  border-radius: 8px;
}
.log_center form button{
  width: 10%;
}
.dark__lg input{
  color: #333;
  /* background: #00000000; */
}
.light__lg input{
  color: #333;
  background: #f9f9f9;
}
.dark__lg button{
  color: #333;
}
.log_center span{
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  /* width: %; */
  /* justify-content: space-around; */
  gap: 15px;
} 
.gender{
  display: flex;
  gap: 15px;
  width: 100%;
}
.selection{
  width: 90%;
  height: 30%;
  box-shadow: 0 0 10px 0 #000000c6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.option{
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: space-around;
}
.option button{
  width: 10%;
  /* height: 35px; */
}
.option select{
  height: 45px;
  border-radius: 8px;
  padding: 0px 50px 0px 15px;
  color: #333;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.option input{
  height: 45px;
  border-radius: 8px;
  padding: 5px 10px 5px 15px;
  color: #333;
  outline: none;
}
.dark_opt button{
  color: #333;
}
.light_opt select{
  background: #f9f9f9;
}
.light_opt input{
  background: #f9f9f9;
}
.step5{
  width: 90%;
  height: 50%;
  box-shadow: 0 0 10px 0 #000000c6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.step5 span{
  display: flex;
  align-items: center;
  gap: 15px;
}
.final{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}